/* Global view */
* {
  box-sizing: border-box;
}

html,
body {
  display: grid;
  place-items: center;
  height: 100%;
}

body {
  background-color: hsl(225, 100%, 94%);
  background-image: url(images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-position: 0 -150%;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.9rem;
}

.wrapper {
  width: 50%;
  margin: auto;
  background-color: white;
  border-radius: 0.6rem;
  box-shadow: 0.3rem 0.6rem 0.6rem hsla(245, 75%, 52%, 0.149);
}

header img {
  max-inline-size: 100%;
  block-size: auto;
  border-top-left-radius: 0.6rem;
  border-top-right-radius: 0.6rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2.5rem;
}

h1 {
  font-size: 1.5rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

p {
  margin: 0;
  text-align: center;
  color: hsl(224, 23%, 55%);
}

.planOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(225, 100%, 98%);
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  width: 100%;
}

.planDetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.musicIcon {
  max-block-size: 70%;
  block-size: auto;
}

.annualPlan {
  display: flex;
  flex-direction: column;
  margin-inline-start: 0.7rem;
}

.namePlan {
  font-size: 0.9rem;
  font-weight: 900;
  color: hsl(223, 47%, 23%);
  margin: 0;
}

.pricePlan {
  font-size: 0.9em;
  margin: 0;
}

button {
  background-color: hsl(245, 75%, 52%);
  border: none;
  color: hsl(225, 100%, 98%);
  font-size: 0.7rem;
  font-weight: 700;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 5px 10px 10px hsla(245, 75%, 52%, 0.255);
}

button:hover {
  background-color: hsla(245, 75%, 52%, 0.727);
  cursor: pointer;
}

a {
  font-size: 0.7rem;
  font-weight: 900;
  color: hsl(245, 75%, 52%);
}

a:hover {
  color: hsl(224, 23%, 55%);
  text-decoration: none;
}

.orderCancel {
  margin: 20px 0;
  color: hsl(224, 23%, 55%);
  font-weight: 900;
  font-size: 0.7rem;
}

.orderCancel:hover {
  color: hsl(223, 47%, 23%);
  cursor: pointer;
}

/* Mobile view */

@media screen and (max-width: 780px) and (min-width: 630px) {
  .wrapper {
    width: 60%;
  }
}

@media screen and (max-width: 630px) and (min-width: 560px) {
  .wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 560px) and (min-width: 460px) {
  .wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 460px) and (min-width: 370px) {
  .wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 370px) and (min-width: 300px) {
  .wrapper {
    width: 100%;
  }
}
